parameters:
    level: 5
    paths:
        - includes
        - features
        - wpshadow.php
    bootstrapFiles:
        - vendor/autoload.php
    excludePaths:
        - vendor
        - node_modules
    ignoreErrors:
        - '#Function apply_filters invoked with#'
        - '#Function do_action invoked with#'
