<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	bootstrap="tests/bootstrap.php"
	colors="true"
	beStrictAboutCoversAnnotation="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTodoAnnotatedTests="true"
	failOnRisky="true"
	failOnWarning="true"
	verbose="true"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
	cacheDirectory=".phpunit.cache">
	<testsuites>
		<testsuite name="Unit">
			<directory>tests/Unit</directory>
		</testsuite>
		<testsuite name="Integration">
			<directory>tests/Integration</directory>
		</testsuite>
		<testsuite name="Accessibility">
			<directory>tests/Accessibility</directory>
		</testsuite>
	</testsuites>
	<source>
		<include>
			<directory suffix=".php">includes</directory>
		</include>
		<exclude>
			<directory>includes/views</directory>
			<directory>includes/data</directory>
			<file>includes/core/test-settings-registry.php</file>
			<file>includes/core/test-dry-run-rollback.php</file>
		</exclude>
	</source>
	<coverage>
		<report>
			<html outputDirectory="tests/coverage"/>
			<text outputFile="php://stdout" showUncoveredFiles="false"/>
		</report>
	</coverage>
	<php>
		<const name="WP_TESTS_DOMAIN" value="example.org"/>
		<const name="WP_TESTS_EMAIL" value="admin@example.org"/>
		<const name="WP_TESTS_TITLE" value="Test Blog"/>
		<const name="WP_PHP_BINARY" value="php"/>
		<const name="WP_DEBUG" value="false"/>
	</php>
</phpunit>
