.wps-report-builder-email-group {
	border-top: 1px solid var(--wps-gray-200);
	padding-top: var(--wps-space-4);
}

.wps-report-builder-cursor-pointer {
	cursor: pointer;
}

.wps-report-builder-error {
	color: #b32d2e;
}
